
body{
    padding: 0%;
    margin: 0%;
}


#packet{
    margin: 0;
    padding: 5%;
    width: 100%;
    height: 567px;
    box-sizing: border-box;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(https://static.vecteezy.com/system/resources/previews/000/165/226/large_2x/hayride-goes-to-the-farm-free-vector.jpg);
}


#bubble_1{
    position: absolute;
    height: 220px;
    width: 220px;
    left: 6%;
    top: 15%;
    border-radius: 100px;
    box-shadow: 5px 5px 15px rgb(63, 63, 63);
    background-color:  rgb(29, 121, 105);
}


#bubble_2{
    position: absolute;
    height: 180px;
    width: 180px;
    top: 43%;
    left: 28%;
    border-radius: 90px;
    box-shadow: 5px 5px 15px rgb(63, 63, 63);
    background-color:  rgb(29, 121, 105); 
}


#bubble_3{
    position: absolute;
    height: 120px;
    width: 120px;
    left: 10%;
    top: 68%;
    border-radius: 70px;
    box-shadow: 5px 5px 15px rgb(63, 63, 63);
    background-color:  rgb(29, 121, 105);
}


#bubble_3 h2{
    font-size: 35px;
    margin-top: 40px;
    color: white;
    text-align: center;
    font-family: sans-serif;
}


#bubble_1 h2{
    font-size: 75px;
    color: white;
    text-align: center;
    font-family: sans-serif;
    
}


#bubble_2 h2{
    font-size: 50px;
    text-align: center;
    margin-top: 60px;
    color: white;
    font-family: sans-serif;
}


#wrttn{
    position: absolute;
    left: 60%;
    top: 0px;
    /* box-shadow: 3px 3px 8px black; */ 
    padding: 1%;
    background-image: url();
    background-size: cover;
    border-radius: 20px;
}


#wrttn ul{
    padding: 0%;
}


#wrttn h1{
    font-size: 75px;
    font-family: sans-serif;    
    text-align: center;
    text-shadow: 0px 3px 6px rgb(93, 94, 92);
    color: rgb(0, 119, 255);
}


#wrttn ul li{
    font-size: 30px;
    list-style-type: none;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    color: rgb(255, 238, 0);
}


#wrttn hr{
    width: 180px;
    color: white;
    text-align: center;
}


#logn{
    width: 120px;
    height: 40px;
    margin: 0%;
    padding: 0%;
    padding-top: 1%;
    background-color: blueviolet;
    position: fixed;
    left: 85%;
    top: 85%;
    color: white;
    text-align: center;
    background-attachment: fixed;
    font-size: 20px;
    border-radius: 22px;
    cursor: pointer;
    box-shadow: 10px 10px 25px rgb(63, 63, 63);
}


#logn h3{
    margin: 0%;
    padding: 0%;
    position: relative;
    font-family: sans-serif;
}


#sign{
    width: 120px;
    height: 40px;
    margin: 0%;
    padding: 0%;
    padding-top: 1%;
    background-color: blueviolet;
    position: fixed;
    left: 72%;
    top: 85%;
    color: white;
    text-align: center;
    background-attachment: fixed;
    font-size: 20px;
    border-radius: 22px;
    cursor: pointer; 
    box-shadow: 10px 10px 25px rgb(63, 63, 63);

}


#sign h3{
    margin: 0%;
    padding: 0%;
    position: relative;
    font-family: sans-serif;
}

 
#logn :hover{
    width: 120px;
    height: 40px;
    top: 85%;
    margin: 0%;
    padding: 0%;
    padding-top: 10px; 
    background-color: rgb(126, 57, 175);
    position: fixed;
    color: white;
    text-align: center;
    font-size: 25px;
    border-radius: 22px;
    cursor: pointer;
    box-shadow: 10px 10px 15px rgb(63, 63, 63);
}


#sign :hover{
    width: 120px;
    height: 40px;
    top: 85%;
    margin: 0%;
    padding: 0%;
    padding-top: 10px; 
    background-color: rgb(126, 57, 175);
    position: fixed;
    color: white;
    text-align: center;
    font-size: 25px;
    border-radius: 22px;
    cursor: pointer;
    box-shadow: 10px 10px 15px rgb(63, 63, 63);
}


#empty{
    width: 100%;
    height: 20px;
    background-color: greenyellow;
}


#divider{
    width: 50%;
    text-align: center;
}


#p1{
    font-family: 'PT Sans', sans-serif;
    font-style: italic;
    font-size: 30px;
}


#p2{
    font-family: 'PT Sans', sans-serif;
    font-style: italic;
    font-size: 30px;
}


#p3{
    font-family: 'PT Sans', sans-serif;
    font-style: italic;
    font-size: 30px;
}


#farsm{
    border-radius: 200px;
    position: relative;
    left: 30%;
}


#uppero{
    position: absolute;
    width: 100%;
    height: 567px;
    opacity: 0.4;
    box-sizing: border-box;

}


#farmwrk{
    border-radius: 200px;
    position: relative;
    left: 31%;
}


#logup{
    border-radius: 200px;
    position: relative;
    left: 31%;
}


#pro{
    background-color: rgb(61, 61, 61);
    font-size: 30px;
    font-family: sans-serif;
    height: 480px;
}


#look{
    color: white;
}


.took{
    color: rgba(0, 204, 255, 0.979);
    cursor: pointer;
}
