body{
	background:url(http://3.bp.blogspot.com/-yyRQLgB_dJQ/UHfoCudKEaI/AAAAAAAAL7M/lAOVlqLdKug/s0/HD-Edgewood-Farm-Wallpaper.jpg);
	background-size: cover;
	background-position: center;
	font-family: Lato;
}